In [308]:
import pandas as pd
import numpy as np
from datetime import datetime

In [309]:
dataframe = pd.read_csv("test_data_MKGO.csv", sep = ';')

In [310]:
dataframe = dataframe[dataframe.DateTime != "DateTime"]
dataframe = dataframe[dataframe.iloc[:, 1] != "Data Source"]

In [311]:
dataframe = dataframe.drop_duplicates(subset=['DateTime', 'Data Source'])

In [312]:
dataframe

,DateTime,Data Source,Value,Alias
0,4/1/2021 12:00:00 AM,System100.Management View:Project.Field Networ...,1.611E+1,NaN
1,4/1/2021 12:00:15 AM,System100.Management View:Project.Field Networ...,-1E+0,NaN
2,4/1/2021 12:04:04 AM,System100.Management View:Project.Field Networ...,0E+0,NaN
3,4/1/2021 12:15:00 AM,System100.Management View:Project.Field Networ...,1.613E+1,NaN
4,4/1/2021 12:30:00 AM,System100.Management View:Project.Field Networ...,1.614E+1,NaN
...,...,...,...,...
247968,4/30/2021 10:45:00 PM,System100.Management View:Project.Field Networ...,0E+0,NaN
247969,4/30/2021 11:00:00 PM,System100.Management View:Project.Field Networ...,0E+0,NaN
247970,4/30/2021 11:15:00 PM,System100.Management View:Project.Field Networ...,0E+0,NaN
247971,4/30/2021 11:30:00 PM,System100.Management View:Project.Field Networ...,0E+0,NaN
247972,4/30/2021 11:45:00 PM,System100.Management View:Project.Field Networ...,0E+0,NaN

In [1]:
dataframe.loc[dataframe['Value'] == 'ON'] = 1
dataframe.loc[dataframe['Value'] == 'OFF'] = 0

# dataframe.at[dataframe['Value'] == 'ON', 'Value'] = 1 
# dataframe.at[dataframe['Value'] == 'OFF', 'Value'] = 0

NameError: name 'dataframe' is not defined

In [314]:
dataframe = dataframe[dataframe['Data Source'].notna()]

In [315]:
points = dataframe['Data Source'].unique()

In [316]:
points

array(['System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-SWT01.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-SWT02.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-RWT01.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-RWT02.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-RFWR.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CP-RTSP1.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CP-RTSP2.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CP-TLCL.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-COP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CHWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CHWRWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CHWFWR.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CWRWT.Present Value',
       1, 0,
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-COP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CHWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CHWRWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CHWFWR.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CWRWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-COP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-CHWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-CHWRWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-CHWFWR.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-COP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CHWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CHWRWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CHWFWR.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CWSWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CWRWT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP01-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP01-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP01-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP02-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP02-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP02-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP03-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP03-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP03-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP04-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP04-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP04-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP05-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP05-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP05-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP06-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP06-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP06-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CDWM-RFWR01.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CDWM-RFWR02.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT-DTSP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT-NSPDTSP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT-HSPDTSP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC-CWRWTSP.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP01-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP01-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP01-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP02-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP02-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP02-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP03-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP03-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP03-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP04-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP04-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP04-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP05-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP05-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP05-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP06-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP06-SUPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP06-DPRE.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT01-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT02-KW.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT02-CWIT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT02-CWOT.Present Value',
       'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT03-KW.Present Value'],
      dtype=object)

In [317]:
%%time
point_key = []
for i in range(len(points)):
    point_key.append('Point_' + str(i+1))

Wall time: 0 ns

In [318]:
point_dic = dict(zip(point_key, points))

In [319]:
point_dic

{'Point_1': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-SWT01.Present Value',
 'Point_2': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-SWT02.Present Value',
 'Point_3': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-RWT01.Present Value',
 'Point_4': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-RWT02.Present Value',
 'Point_5': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWM-RFWR.Present Value',
 'Point_6': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CP-RTSP1.Present Value',
 'Point_7': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CP-RTSP2.Present Value',
 'Point_8': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CP-TLCL.Present Value',
 'Point_9': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-KW.Present Value',
 'Point_10': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-COP.Present Value',
 'Point_11': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CHWSWT.Present Value',
 'Point_12': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CHWRWT.Present Value',
 'Point_13': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CHWFWR.Present Value',
 'Point_14': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CWSWT.Present Value',
 'Point_15': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC01-CWRWT.Present Value',
 'Point_16': 1,
 'Point_17': 0,
 'Point_18': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-KW.Present Value',
 'Point_19': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-COP.Present Value',
 'Point_20': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CHWSWT.Present Value',
 'Point_21': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CHWRWT.Present Value',
 'Point_22': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CHWFWR.Present Value',
 'Point_23': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CWSWT.Present Value',
 'Point_24': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC02-CWRWT.Present Value',
 'Point_25': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-KW.Present Value',
 'Point_26': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-COP.Present Value',
 'Point_27': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-CHWSWT.Present Value',
 'Point_28': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-CHWRWT.Present Value',
 'Point_29': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC03-CHWFWR.Present Value',
 'Point_30': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-KW.Present Value',
 'Point_31': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-COP.Present Value',
 'Point_32': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CHWSWT.Present Value',
 'Point_33': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CHWRWT.Present Value',
 'Point_34': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CHWFWR.Present Value',
 'Point_35': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CWSWT.Present Value',
 'Point_36': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC04-CWRWT.Present Value',
 'Point_37': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP01-KW.Present Value',
 'Point_38': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP01-SUPRE.Present Value',
 'Point_39': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP01-DPRE.Present Value',
 'Point_40': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP02-KW.Present Value',
 'Point_41': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP02-SUPRE.Present Value',
 'Point_42': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP02-DPRE.Present Value',
 'Point_43': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP03-KW.Present Value',
 'Point_44': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP03-SUPRE.Present Value',
 'Point_45': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP03-DPRE.Present Value',
 'Point_46': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP04-KW.Present Value',
 'Point_47': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP04-SUPRE.Present Value',
 'Point_48': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP04-DPRE.Present Value',
 'Point_49': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP05-KW.Present Value',
 'Point_50': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP05-SUPRE.Present Value',
 'Point_51': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP05-DPRE.Present Value',
 'Point_52': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP06-KW.Present Value',
 'Point_53': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP06-SUPRE.Present Value',
 'Point_54': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CHWP06-DPRE.Present Value',
 'Point_55': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CDWM-RFWR01.Present Value',
 'Point_56': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CDWM-RFWR02.Present Value',
 'Point_57': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT-DTSP.Present Value',
 'Point_58': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT-NSPDTSP.Present Value',
 'Point_59': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT-HSPDTSP.Present Value',
 'Point_60': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-WCC-CWRWTSP.Present Value',
 'Point_61': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP01-KW.Present Value',
 'Point_62': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP01-SUPRE.Present Value',
 'Point_63': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP01-DPRE.Present Value',
 'Point_64': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP02-KW.Present Value',
 'Point_65': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP02-SUPRE.Present Value',
 'Point_66': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP02-DPRE.Present Value',
 'Point_67': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP03-KW.Present Value',
 'Point_68': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP03-SUPRE.Present Value',
 'Point_69': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP03-DPRE.Present Value',
 'Point_70': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP04-KW.Present Value',
 'Point_71': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP04-SUPRE.Present Value',
 'Point_72': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP04-DPRE.Present Value',
 'Point_73': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP05-KW.Present Value',
 'Point_74': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP05-SUPRE.Present Value',
 'Point_75': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP05-DPRE.Present Value',
 'Point_76': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP06-KW.Present Value',
 'Point_77': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP06-SUPRE.Present Value',
 'Point_78': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-CWP06-DPRE.Present Value',
 'Point_79': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT01-KW.Present Value',
 'Point_80': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT02-KW.Present Value',
 'Point_81': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT02-CWIT.Present Value',
 'Point_82': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT02-CWOT.Present Value',
 'Point_83': 'System100.Management View:Project.Field Networks.BBLNCH.Hardware.Default Description.Local_IO.MKGO-RF-COT03-KW.Present Value'}

In [320]:
%%time
dataframe['DateTime'] = pd.to_datetime(dataframe.DateTime)

Wall time: 24.2 s

C:\Users\user\anaconda3\envs\sfdd\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [321]:
%%time

dataframe['Value'] = dataframe['Value'].astype(float)

Wall time: 52.9 ms

C:\Users\user\anaconda3\envs\sfdd\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [322]:
datetimes = dataframe["DateTime"].unique()

In [323]:
datetimes

array(['2021-04-01T00:00:00.000000000', '2021-04-01T00:00:15.000000000',
       '2021-04-01T00:04:04.000000000', ...,
       '2021-04-12T10:14:59.000000000', '2021-04-15T02:30:00.000000000',
       '2021-04-12T13:44:59.000000000'], dtype='datetime64[ns]')

In [324]:
datetimes_sorted = pd.to_datetime(datetimes, format="%Y%m%d %H:%M:%S").sort_values()

In [325]:
datetimes_sorted

DatetimeIndex([          '1970-01-01 00:00:00',
               '1970-01-01 00:00:00.000000001',
                         '2021-04-01 00:00:00',
                         '2021-04-01 00:00:15',
                         '2021-04-01 00:04:04',
                         '2021-04-01 00:15:00',
                         '2021-04-01 00:30:00',
                         '2021-04-01 00:45:00',
                         '2021-04-01 01:00:00',
                         '2021-04-01 01:15:00',
               ...
                         '2021-04-30 21:30:00',
                         '2021-04-30 21:45:00',
                         '2021-04-30 22:00:00',
                         '2021-04-30 22:15:00',
                         '2021-04-30 22:30:00',
                         '2021-04-30 22:45:00',
                         '2021-04-30 23:00:00',
                         '2021-04-30 23:15:00',
                         '2021-04-30 23:30:00',
                         '2021-04-30 23:45:00'],
              dtype='datetime64[ns]', length=3437, freq=None)

In [326]:
df = pd.DataFrame()

In [327]:
df

Empty DataFrame
Columns: []
Index: []

In [328]:
%%time
df['DateTime'] = datetimes_sorted

Wall time: 996 Âµs

In [329]:
df

                          DateTime
0    1970-01-01 00:00:00.000000000
1    1970-01-01 00:00:00.000000001
2    2021-04-01 00:00:00.000000000
3    2021-04-01 00:00:15.000000000
4    2021-04-01 00:04:04.000000000
...                            ...
3432 2021-04-30 22:45:00.000000000
3433 2021-04-30 23:00:00.000000000
3434 2021-04-30 23:15:00.000000000
3435 2021-04-30 23:30:00.000000000
3436 2021-04-30 23:45:00.000000000

[3437 rows x 1 columns]

In [330]:
for key, point in point_dic.items():
    try:
        point_df = dataframe.loc[dataframe['Data Source'] == point][['DateTime', 'Value']]
        point_df.rename(columns = {'Value':key}, inplace = True)
        df = pd.merge(df, point_df, how='left', left_on='DateTime', right_on='DateTime', validate = 'm:1')
        
        print(key)
    except:
        pass

Point_1
Point_2
Point_3
Point_4
Point_5
Point_6
Point_7
Point_8
Point_9
Point_10
Point_11
Point_12
Point_13
Point_14
Point_15
Point_18
Point_19
Point_20
Point_21
Point_22
Point_23
Point_24
Point_25
Point_26
Point_27
Point_28
Point_29
Point_30
Point_31
Point_32
Point_33
Point_34
Point_35
Point_36
Point_37
Point_38
Point_39
Point_40
Point_41
Point_42
Point_43
Point_44
Point_45
Point_46
Point_47
Point_48
Point_49
Point_50
Point_51
Point_52
Point_53
Point_54
Point_55
Point_56
Point_57
Point_58
Point_59
Point_60
Point_61
Point_62
Point_63
Point_64
Point_65
Point_66
Point_67
Point_68
Point_69
Point_70
Point_71
Point_72
Point_73
Point_74
Point_75
Point_76
Point_77
Point_78
Point_79
Point_80
Point_81
Point_82
Point_83

In [331]:
point_df

                  DateTime  Point_83
245062 2021-04-01 00:00:00       0.0
245063 2021-04-01 00:00:15      -1.0
245064 2021-04-01 00:04:04       0.0
245065 2021-04-01 00:15:00       0.0
245066 2021-04-01 00:30:00       0.0
...                    ...       ...
247968 2021-04-30 22:45:00       0.0
247969 2021-04-30 23:00:00       0.0
247970 2021-04-30 23:15:00       0.0
247971 2021-04-30 23:30:00       0.0
247972 2021-04-30 23:45:00       0.0

[2911 rows x 2 columns]

In [332]:
df = df.sort_values("DateTime")

In [333]:
df

,DateTime,Point_1,Point_2,Point_3,Point_4,Point_5,Point_6,Point_7,Point_8,Point_9,...,Point_74,Point_75,Point_76,Point_77,Point_78,Point_79,Point_80,Point_81,Point_82,Point_83
0,1970-01-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-01-01 00:00:00.000000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-01 00:00:00.000000000,16.11,17.60,18.51,17.87,-0.0141,15.0,30.0,0.0,0.554,...,35.0,35.8,0.0,34.9,33.0,0.0,0.0,27.08,26.62,0.0
3,2021-04-01 00:00:15.000000000,-1.00,-1.00,-1.00,-1.00,-1.0000,-1.0,-1.0,-1.0,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.0
4,2021-04-01 00:04:04.000000000,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2021-04-30 22:45:00.000000000,15.92,17.38,18.17,17.46,-0.0141,15.0,18.0,0.0,0.555,...,34.9,36.0,0.0,35.1,33.4,0.0,0.0,24.62,24.28,0.0
3433,2021-04-30 23:00:00.000000000,15.94,17.40,18.17,17.48,-0.0141,15.0,18.0,0.0,0.557,...,35.0,35.9,0.0,34.9,33.4,0.0,0.0,24.62,24.22,0.0
3434,2021-04-30 23:15:00.000000000,15.96,17.43,18.19,17.52,-0.0141,15.0,18.0,0.0,0.562,...,34.7,35.8,0.0,35.2,33.1,0.0,0.0,24.58,24.26,0.0
3435,2021-04-30 23:30:00.000000000,15.99,17.46,18.25,17.56,-0.0141,15.0,18.0,0.0,0.547,...,34.8,36.0,0.0,34.6,33.2,0.0,0.0,24.60,24.30,0.0
3436,2021-04-30 23:45:00.000000000,16.00,17.48,18.25,17.58,-0.0141,15.0,18.0,0.0,0.550,...,34.6,35.7,0.0,34.6,32.9,0.0,0.0,24.66,24.24,0.0

In [334]:
df = df.fillna(0)

In [335]:
df

,DateTime,Point_1,Point_2,Point_3,Point_4,Point_5,Point_6,Point_7,Point_8,Point_9,...,Point_74,Point_75,Point_76,Point_77,Point_78,Point_79,Point_80,Point_81,Point_82,Point_83
0,1970-01-01 00:00:00.000000000,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0
1,1970-01-01 00:00:00.000000001,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0
2,2021-04-01 00:00:00.000000000,16.11,17.60,18.51,17.87,-0.0141,15.0,30.0,0.0,0.554,...,35.0,35.8,0.0,34.9,33.0,0.0,0.0,27.08,26.62,0.0
3,2021-04-01 00:00:15.000000000,-1.00,-1.00,-1.00,-1.00,-1.0000,-1.0,-1.0,-1.0,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.0
4,2021-04-01 00:04:04.000000000,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2021-04-30 22:45:00.000000000,15.92,17.38,18.17,17.46,-0.0141,15.0,18.0,0.0,0.555,...,34.9,36.0,0.0,35.1,33.4,0.0,0.0,24.62,24.28,0.0
3433,2021-04-30 23:00:00.000000000,15.94,17.40,18.17,17.48,-0.0141,15.0,18.0,0.0,0.557,...,35.0,35.9,0.0,34.9,33.4,0.0,0.0,24.62,24.22,0.0
3434,2021-04-30 23:15:00.000000000,15.96,17.43,18.19,17.52,-0.0141,15.0,18.0,0.0,0.562,...,34.7,35.8,0.0,35.2,33.1,0.0,0.0,24.58,24.26,0.0
3435,2021-04-30 23:30:00.000000000,15.99,17.46,18.25,17.56,-0.0141,15.0,18.0,0.0,0.547,...,34.8,36.0,0.0,34.6,33.2,0.0,0.0,24.60,24.30,0.0
3436,2021-04-30 23:45:00.000000000,16.00,17.48,18.25,17.58,-0.0141,15.0,18.0,0.0,0.550,...,34.6,35.7,0.0,34.6,32.9,0.0,0.0,24.66,24.24,0.0

In [336]:
df['<>Date'] = pd.to_datetime(df['DateTime']).dt.date
df['Time'] = pd.to_datetime(df['DateTime']).dt.time

In [337]:
df

,DateTime,Point_1,Point_2,Point_3,Point_4,Point_5,Point_6,Point_7,Point_8,Point_9,...,Point_76,Point_77,Point_78,Point_79,Point_80,Point_81,Point_82,Point_83,<>Date,Time
0,1970-01-01 00:00:00.000000000,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,1970-01-01,00:00:00
1,1970-01-01 00:00:00.000000001,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,1970-01-01,00:00:00
2,2021-04-01 00:00:00.000000000,16.11,17.60,18.51,17.87,-0.0141,15.0,30.0,0.0,0.554,...,0.0,34.9,33.0,0.0,0.0,27.08,26.62,0.0,2021-04-01,00:00:00
3,2021-04-01 00:00:15.000000000,-1.00,-1.00,-1.00,-1.00,-1.0000,-1.0,-1.0,-1.0,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.0,2021-04-01,00:00:15
4,2021-04-01 00:04:04.000000000,0.00,0.00,0.00,0.00,0.0000,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,2021-04-01,00:04:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2021-04-30 22:45:00.000000000,15.92,17.38,18.17,17.46,-0.0141,15.0,18.0,0.0,0.555,...,0.0,35.1,33.4,0.0,0.0,24.62,24.28,0.0,2021-04-30,22:45:00
3433,2021-04-30 23:00:00.000000000,15.94,17.40,18.17,17.48,-0.0141,15.0,18.0,0.0,0.557,...,0.0,34.9,33.4,0.0,0.0,24.62,24.22,0.0,2021-04-30,23:00:00
3434,2021-04-30 23:15:00.000000000,15.96,17.43,18.19,17.52,-0.0141,15.0,18.0,0.0,0.562,...,0.0,35.2,33.1,0.0,0.0,24.58,24.26,0.0,2021-04-30,23:15:00
3435,2021-04-30 23:30:00.000000000,15.99,17.46,18.25,17.56,-0.0141,15.0,18.0,0.0,0.547,...,0.0,34.6,33.2,0.0,0.0,24.60,24.30,0.0,2021-04-30,23:30:00
3436,2021-04-30 23:45:00.000000000,16.00,17.48,18.25,17.58,-0.0141,15.0,18.0,0.0,0.550,...,0.0,34.6,32.9,0.0,0.0,24.66,24.24,0.0,2021-04-30,23:45:00

In [338]:
df.insert(0, 'Time', df.pop('Time'))

In [339]:
df.insert(0, '<>Date', df.pop('<>Date'))

In [340]:
df = df.drop(columns='DateTime')

In [341]:
df = df.drop_duplicates(subset=['<>Date', 'Time'], keep='last')

In [342]:
point_info_list = list(point_dic.items())

In [343]:
point_info_df = pd.DataFrame(point_info_list)

In [344]:
point_info_df

           0                                                  1
0    Point_1  System100.Management View:Project.Field Networ...
1    Point_2  System100.Management View:Project.Field Networ...
2    Point_3  System100.Management View:Project.Field Networ...
3    Point_4  System100.Management View:Project.Field Networ...
4    Point_5  System100.Management View:Project.Field Networ...
..       ...                                                ...
78  Point_79  System100.Management View:Project.Field Networ...
79  Point_80  System100.Management View:Project.Field Networ...
80  Point_81  System100.Management View:Project.Field Networ...
81  Point_82  System100.Management View:Project.Field Networ...
82  Point_83  System100.Management View:Project.Field Networ...

[83 rows x 2 columns]

In [345]:
first_row_df = pd.DataFrame(['Key            Name:Suffix                                Trend Definitions Used'])

In [346]:
last_row_df = pd.DataFrame([' ******************************** End of Report *********************************'])

In [347]:
pd.concat([point_info_df, df], axis = 0).to_csv('asdlkfj.csv', index = False, header=True)

In [348]:
writer = pd.ExcelWriter('out.xlsx', engine='xlsxwriter')

In [349]:
first_row_df.to_excel(writer, sheet_name='Sheet1', index=False, header=False)
point_info_df.to_excel(writer, sheet_name='Sheet1', startrow=1, index=False, header=False)
df.to_excel(writer, sheet_name='Sheet1', startrow=len(points)+5, index=False, header=True)
last_row_df.to_excel(writer, sheet_name='Sheet1', startrow=len(points)+5+len(datetimes)+1, index=False, header=False)

In [350]:
writer.save()

In [351]:
read_file = pd.read_excel ('out.xlsx', header=None)

In [352]:
read_file.to_csv ('out.csv', index = None, header=False)